.stats {
    position: absolute;
    width: 250px;
    top: 28px;
    left: 530px;
    background: #373737;
    border-radius: 5px;
    z-index: 20;
    padding: 0 15px 15px 15px;
    &__item {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    &__value {
        width: 30%;
        text-align: left;
    }
}