.game {
    color: white;
    background-color: #0C0C0C;
    min-height: 100vh;

    &__answer {
        position: relative;
    }
}

.game-container {
    max-width: 1170px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.block {
    &__content {
        min-width: 350px;
        background-color: #373737;
        border-radius: 5px;
        margin: 10px 0 15px 0;
        overflow: hidden;
    }
}