<div class="game">
    <app-header></app-header>
    <div class="game-container">
        <div class="game__question">
            <div class="game__block block">
                <div class="block__title">
                    Surface photo
                </div>
                <div class="block__content">
                    <app-question-image [img]="'./../../assets/img/' + round.photo"></app-question-image>
                </div>
            </div>
            <div class="game__block block">
                <div class="block__title">
                    Satellite photo
                </div>
                <div class="block__content">
                    <app-question-map [mapData]="{lat: round.latitude*1, lng: round.longitude*1}"></app-question-map>
                </div>
            </div>
            <div class="game__block block">
                <div class="block__title">
                    Stats
                </div>
                <div class="block__content">
                    <app-question-stats [stats]="stats"></app-question-stats>
                </div>
            </div>
        </div>
        <div class="game__answer">
            <app-answer-marker-stats [stats]="markerStats"></app-answer-marker-stats>
            <div class="game__block block">
                <div class="block__title">
                    Map to answer
                </div>
                <div class="block__content">
                    <app-answer-map (onMapClick)="onAnsverMapClick($event)"></app-answer-map>
                </div>
            </div>
            <app-answer-button [disabled]="answerDisabled"></app-answer-button>
        </div>
    </div>
</div>