<div class="stats">
    <div class="stats__item">
        <span>Temperature:</span> <span class="stats__value">{{(stats.temp*1 - 273.15).toFixed(1)}} &#176;C</span>
    </div>
    <div class="stats__item">
        <span>Pressure:</span> <span class="stats__value">{{stats.pressure}} hPa</span>
    </div>
    <div class="stats__item">
        <span>Humidity:</span> <span class="stats__value">{{stats.humidity}} %</span>
    </div>
    <div class="stats__item">
        <span>Elevation:</span> <span class="stats__value">{{stats.elevation}} m</span>
    </div>
</div>