<div class="popup-wrap">
  <div class="popup">
    <div class="map">
      <agm-map [latitude]="popupData.right.lat" [longitude]="popupData.right.lng" mapTypeId="hybrid" [zoom]="4">
        <agm-marker [latitude]="popupData.right.lat" [longitude]="popupData.right.lng"></agm-marker>
        <agm-marker [latitude]="popupData.user.lat" [longitude]="popupData.user.lng"></agm-marker>
      </agm-map>
    </div>
    <div *ngIf="!end" class="score">
      <span class="score-text">{{username}}, your score is</span> {{popupData.score}}
    </div>
    <div *ngIf="end" class="score">
      <span class="score-text">{{username}}, your final score is</span> {{totalScore}}
    </div>
    <div class="controls">
      <button *ngIf="!end" (click)="nextLevel()" class="next-round-btn">
        Next round
      </button>
      <button *ngIf="end" (click)="newGame()" class="next-round-btn">
        Play new game
      </button>
    </div>
  </div>
</div>