<div class="popup-wrap">
  <div class="popup">
    <div class="map">
      <agm-map [latitude]="popupData.right.lat" [longitude]="popupData.right.lng" mapTypeId="hybrid" [zoom]="4">
        <agm-marker [latitude]="popupData.right.lat" [longitude]="popupData.right.lng" title="Right"></agm-marker>
        <agm-marker [latitude]="popupData.user.lat" [longitude]="popupData.user.lng" title="Your"></agm-marker>
        <agm-polyline strokeColor="red">
          <agm-polyline-point [latitude]="popupData.right.lat" [longitude]="popupData.right.lng"> </agm-polyline-point>
          <agm-polyline-point [latitude]="popupData.user.lat" [longitude]="popupData.user.lng"> </agm-polyline-point>
        </agm-polyline>
      </agm-map>
    </div>
    <div class="score">
      <span class="score-text">Your score is</span> {{popupData.score}}
    </div>
    <div class="controls">
      <button (click)="nextLevel()" class="next-round-btn">
        Next round
      </button>
    </div>
  </div>
</div>