<div class="popup-wrap">
  <div class="popup">
    <div class="map">
      <agm-map [latitude]="popupData.right.lat" [longitude]="popupData.right.lng" mapTypeId="hybrid" [zoom]="4">
        <agm-marker [latitude]="popupData.right.lat" [longitude]="popupData.right.lng"></agm-marker>
        <agm-marker [latitude]="popupData.user.lat" [longitude]="popupData.user.lng"></agm-marker>
      </agm-map>
    </div>
    <div class="score">
      <span class="score-text">Your score is</span> {{popupData.score}}
    </div>
    <div class="controls">
      <button (click)="nextLevel()" class="next-round-btn">
        Next round
      </button>
    </div>
  </div>
</div>